* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100%;
}

h1 {
  width: 100%;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 3rem;
}

.bg-image {
  /* Image owner Drift Shutterbug */
  background: url(./assets/images/weather_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.weather-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  color: #fff;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-bottom: 15px;
}

.search-bar {
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #fff;
  font-size: 0.9rem;
  font-family: inherit;
  width: 70%;
}

.search-bar:focus {
  outline: none;
}

.search-btn {
  padding: 6px;
  border: none;
  border-radius: 8px;
  background: #25b9cc;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  transition: transform 0.2s ease;
  font-weight: bold;
}

.search-btn:hover {
  transform: scale(1.1);
}

.city-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.weather-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  margin: 20px;
}

.weather-icon {
  color: yellow;
  font-size: 5rem;
}

.info {
  font-size: 1rem;
}

.temperature {
  font-weight: bold;
}

.humidity-speed {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  text-align: center;
  font-size: 1.1rem;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
